{% extends "layout.html" %}
{% block title %}Pour & Explore | Store{% endblock %}
{% block content %}
{% for product in products %}
<div class="p-4 bg-[#f5b0cb] w-1/3 mt-20     rounded-xl">
    <center>
    <img src="{{product.image.url}}" class="w-[30px] h-[60px] sm:w-[60px] sm:h-[60px] md:w-[90px] md:h-[90px] lg:w-[140px] lg:h-[140px] xl:w-[170px] xl:h-[170px] 2xl:w-[200px] 2xl:h-[200px]">
    <h1>{{product.name}}</h1>
    <h2>{{product.description}}</h2>
    <h2>{{product.price}}</h2>
    <button type="submit" class="bg-[#604b62] text-white w-full">
        <a href="https://wa.me/971509664475">Order Now</a>
    </button>
    </center>
</div>
{% endfor %}
{% endblock %}