{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static "style.css" %}"> <link rel="shortcut
    icon" href="{% static "Images/image.png" %}" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
  </head>
  <body class="bg-[#FFFDD0] m-0 p-0 box-border">
    <nav class="top-0 left-0 w-full fixed">
      <div
        class="container mx-auto px-4 py-4 flex items-center justify-between"
      >
        <a href="#" class=""
          ><img src="{% static "Images/image.png" %}" alt="Logo" class='w-[100px] h-[50px] sm:w-[110px] md:w-[120px] lg:w-[130px] xl:w-[140px] 2xl:w-[150px] bg-amber-400 '></a
        >

        <button id="mobile-menu-button" class="sm:hidden focus:outline-none">
          <svg
            class="h-6 w-6 text-gray-600 hover:text-gray-800"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>

        <div
          id="mobile-menu"
          class="hidden sm:flex sm:items-center sm:space-x-8 mt-4 sm:mt-0"
        >
        <a
            href="{% url "home" %}"
             class="text-amber-700 font-extrabold transition duration-300 text-xs sm:text-sm md:text-xl xl:text-2xl 2xl:text-3xl"
            >Home</a
          >
          <a
            href="{% url "shop" %}"
             class="text-amber-700 font-extrabold transition duration-300 text-xs sm:text-sm md:text-xl xl:text-2xl 2xl:text-3xl"
            >Shop</a
          >
          <a
            href="{% url "about" %}"
             class="text-amber-700 font-extrabold transition duration-300 text-xs sm:text-sm md:text-xl xl:text-2xl 2xl:text-3xl"
            >About</a
          >
          <a
            href="{% url "contact" %}"
            class="text-amber-700 font-extrabold transition duration-300 text-xs sm:text-sm md:text-xl xl:text-2xl 2xl:text-3xl"
            >Contact</a
          >
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer
      class="text-center text-xs sm:text-sm md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
    >
      &copy; 2025 All rights reserved
    </footer>
    <script src="{% static "script.js" %}"></script>
  </body>
</html>
